<%= content_tag :div, class: 'media', id: 'comment-#{comment.id}' do %>
  <div class="media-body">
    <p class="media-heading">
      <%= comment.body %>
    </p>
    <small>
      <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar?%>
      submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %>
      <br>
      <% if policy(comment).destroy? %>
        <%= link_to "Delete comment", [comment.post, comment], class: "btn btn-xs btn-danger", method: :delete %>
      <% end %>
    </small>

  </div>
<% end %>
