<div class="row">
  <div class="col-md-8">
    <%= render partial: "votes/voter", locals: { post: @post } %>
    <h1> <%= @post.markdown_title %> <%= image_tag(@post.image.thumb.url) %></h1>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
    <p>
      <%= @post.markdown_body %>
    </p>
    <%= render partial: 'comments/comment' collection: @comments %>
    <% if policy(Comment.new).create? %>
      <div>
        <%= render partial: "comments/form", locals: {post: @post, comment: Comment.new} %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: "btn btn-warning" %>
    <% end %>
    <% if policy(@post).destroy? %>
      <%= link_to "Delete Post", [@topic, @post], class: "btn btn-danger", method: :delete %>
    <% end %>
    <div class="">
      <h3> <%= pluralize(@post.points, 'point') %> </h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>
    <%= render partial: "favorites/favorite", locals: {post: @post} %>
  </div>
</div>
